USE [master]
GO
/****** Object:  Database [BlueChappie]    Script Date: 2016/06/20 12:28:30 AM ******/
CREATE DATABASE [BlueChappie]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlueChappie', FILENAME = N'BlueChappie.mdf' , SIZE = 37568KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BlueChappie_log', FILENAME = N'BlueChappie_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlueChappie].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlueChappie]
GO
/****** Object:  Table [dbo].[imagelib]    Script Date: 2016/06/20 12:28:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[imagelib](
	[imgGUID] [char](36) NOT NULL,
	[keyword] [varchar](500) NULL,
	[localURL] [varchar](500) NULL,
	[source] [varchar](500) NULL,
	[sourceURL] [varchar](500) NULL,
	[tag] [varchar](500) NULL,
	[title] [varchar](500) NULL,
	[dateHit] [varchar](500) NULL,
	[description] [varchar](2000) NULL,
	[tags] [varchar](2000) NULL,
	[owner] [varchar](1000) NULL,
	[origin] [varchar](500) NULL,
	[dateTaken] [varchar](500) NULL,
	[webImageBase64Encoded] [varchar](max) NULL,
	[tagKey] [varchar](500) NULL,
	[sourceServer] [varchar](50) NULL,
	[sourceID] [varchar](50) NULL,
	[sourceSecret] [varchar](50) NULL,
	[sourceFarm] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[locationlib]    Script Date: 2016/06/20 12:28:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[locationlib](
	[location] [varchar](100) NOT NULL,
	[created] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[userfavimagelib]    Script Date: 2016/06/20 12:28:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userfavimagelib](
	[userimageid] [char](36) NULL,
	[userid] [char](36) NULL,
	[tagKey] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[userfavlocationslib]    Script Date: 2016/06/20 12:28:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userfavlocationslib](
	[userlocationid] [char](36) NULL,
	[userid] [char](36) NULL,
	[tagKey] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[userlib]    Script Date: 2016/06/20 12:28:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userlib](
	[userid] [char](36) NULL,
	[emailaddress] [varchar](50) NULL,
	[password] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
